.consent-banner {
  margin-top: 30;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  background-color: rgb(237, 236, 224);
  color: black;
}
